# Data Science Tools and Ecosystem

## Autor
Jesus Emmanuel Razo Castillo

_Data science tools and ecosystems are going to be sumarized in this notebook_

**Objectives:**
* Show popular data science lenguages
* Create tables in jupyter notebooks
* Aritmetical expressions
* Create headers
* Upload my notebook to GitHub.

Some of the lenguages used in Data Science are the followings:
1. R
2. Python
3. SQL
4. Julia

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

_This will convert 200 minutes to hours by diving by 60_

In [16]:
(200/60)

3.3333333333333335